# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
#public/colabora.apk
build/

# Android specific ignores
android/.gradle/
android/build/
android/local.properties
android/.idea/
android/*.iml
android/app/build/outputs/
android/capacitor-cordova-android-plugins/build/
android/capacitor-cordova-android-plugins/src/main/assets/capacitor.config.json
android/app/src/main/assets/public/
